@import '../../styles/constants/';

.sort {
  position: relative;

  &__label{
    position: absolute;
    top: -7px;
    left: 4px;
    background-color: $light-xl;
    font-size: inherit;
    line-height: 100%;
    color: $dark;
  }

  &__select {
    padding: 6px;
    font-family: inherit;
    font-size: inherit;

  }
}