@import '../constants/colors';
.discount-code {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 40px;
    gap: 10px;
    width: 19%;
    height: max-content;
    background-color: $light-l;
    color: $dark-xl;
  }
  &__title {
  }
  &__input {
    display: block;
    padding: 5px;
    border: 2px solid $grey-xl;
    border-radius: 5px;
    font-family: inherit;
  }

  &__info {
    font-size: 1rem;
    line-height: normal;
    color: $grey-l;

    &.success {
      color: green;
    }

    &.error {
      color: $error;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  &__delete {
    display: block;
    width: 25px;
    padding: 3px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background-color: rgba($red-accents, .5);
    }

    @media screen and (max-width: $large) {
      width: 20px;
    }

    @media screen and (max-width: $medium) {
      width: 15px;
    }
  }
}
