@import '../../styles/constants/';

.price-filter {
  display: flex;
  flex-direction: column;
  gap: 3px;

  &__item {
    display: flex;
    gap: 10px;
  }

  &__title {
    color: $dark;
  }

  &__input {
    font-family: inherit;
  }
}