@import '../../styles/constants/';

.cart-error {
  display: none;
  position: absolute;
  padding: 5px;
  top: 10px;
  right: 10px;
  width: 150px;
  background-color: $grey-xl;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;

  &.show {
    display: block;
  }
}