@import '../../styles/constants/';

.product-slider {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 400px;
  height: 400px;
  max-width: 45%;
  margin: 0 auto;
  position: relative;

}

.product-slider__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.product-slider__window {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: $light-xl;
  order: 2;
}

.product-slider__items {
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.5s;
}

.product-slider__item {
  height: 100%;
}

.product-slider__item img {
  width: 100%;
  height: 100%;
  padding: 0 2px;
  object-fit: contain;
}

.product-slider__button--prev,
.product-slider__button--next {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $light-xl;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  text-align: center;
  font-size: 40px;
  margin: 0 20px;
  padding: 0 10px;

  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

.product-slider__button--prev {
  left: 10px;
  order: 1;
}

.product-slider__button--next {
  right: 10px;
  order: 3;
}

.product-slider__indicators {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
}

.indicators__item {
  flex: 0 1 auto;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  background-color: $grey-l;
  border: 2px solid $light-xl;
  border-radius: 50%;
  &.active {
    background-color: $grey-xl;
  }
}

@media screen and (min-width: $large)
{
  .product-slider {
    width: 600px;
    height: 600px;
    max-width: 45%;
  }
}

@media screen and (max-width: $medium) {
  .product-slider {
    max-width: 80%;
    width: 80%;
    height: auto;
  }

  .product-slider__button--prev,
  .product-slider__button--next {
    margin: 0 5px;
  }
}