@import '../../styles/constants/';

.profile {
  width: 350px;
  margin: 0 auto;
  &__title {
    font-weight: bold;
    margin-bottom: 30px;
    color: $primary;
  }
  &__firstname,
  &__lastname,
  &__birthdate,
  &__country,
  &__city,
  &__street,
  &__postcode {
    display: flex;
    position: relative;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;

    &--input {
      display: block;
      padding: 5px;
      border: 2px solid white;
      border-radius: 5px;
      width: 60%;
      &:hover {
        background-color: rgba(159, 159, 159, 0.2);
        
      }
    }

    &--label {
      display: block;
      cursor: pointer;
    }
  }

  &__error {
    width: 98%;
    position: absolute;
    z-index: 3;
    top: 36px;
    padding: 1px;
    background-color: $primary;
    color: $light-xl;
    text-align: center;
    font-size: 12px;

    &::before {
      content: "";
      position: absolute;
      right: 60px;
      top: -12px;
      z-index: 2;
      border: 5px solid transparent;
      border-bottom: 8px solid $primary;
    }
  }
}

.title__addresses {
  margin-top: 60px;
}

.profile__error {
  display: none;
  &--active {
    display: block;
  }
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.edit-wrapper input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 1;
}

input:hover {
  cursor: default;
}

.edit-wrapper input:hover {
  cursor: text;
}

.address-list__table {
  margin-bottom: 10px;
  padding: 5px;
  border-collapse: collapse;
  font-size: 12px;
  td {
    color: black;
    padding-right: 8px;
  }
  .address-cell-label__default {
    margin-left: 5px;
    color: $primary;
  }
}

.hidden {
  color: white;
}

.edit-btn:hover {
  cursor: pointer;
  color: $primary;
}

input {
  border: 1px solid white;
}

.edit-wrapper input {
  border: 1px solid $primary;
  outline: none;
}