.basket__item {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 15px;

  &--img {
    display: block;
    width: 108px;
    object-fit: contain;
  }
}