@import '../../styles/constants/';

.discount-code {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    height: max-content;
    background-color: $light-l;
    color: $dark-xl;
    padding-bottom: 30px;
    border-bottom: 1px solid $grey-m;

    @media screen and (max-width: $large) {
      border-top: 2px solid $dark-l;
    }
  }

  &__title {
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__submit {
    width: 100px;
    height: 25px;
  }

  &__input {
    display: block;
    padding: 5px;
    border: 2px solid $grey-xl;
    border-radius: 5px;
    font-family: inherit;
  }
  &__info {
    font-size: 1rem;
    line-height: normal;
    color: $grey-l;

    &.success {
      color: green;
    }

    &.error {
      color: $error;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    gap: 10px;
  }

  &__header-list {
    color: $grey-xl;
    padding-bottom: 10px;
  }

  &__delete {
    display: block;
    width: 25px;
    padding: 3px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background-color: rgba($red-accents, .5);
    }

    @media screen and (max-width: $large) {
      width: 20px;
    }

    @media screen and (max-width: $medium) {
      width: 15px;
    }
  }
}
