* {
  margin: 0;
}

* {
    box-sizing: border-box;
  }

html {
    font-size: 10px;
  }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

img {
  border: 0;
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

textarea {
  overflow: auto;
}

ul {
  padding-left: 0;
  list-style: none;
}